.Header {
  position: absolute;
  height: 160px;
  left: 0px;
  right: 0px;
  width: 50%;
  top: 10px;
  background-color: rgb(223, 246, 255);
  border: 1px;
  border-style: groove;
  margin: auto;
}

.Link {
  margin-left: 20px;
  margin-right: 20px;
}
