.EditPostText {
  width: 90%;
  min-height: 500px;
  height: 90%;
}

.DisplayText {
  width: 90%;
  height: 90%;
  word-wrap: break-word;
}

.Editor {
  width: 30%;
  position: absolute;
  left: 15%;
  height: 60%;
}

.Preview {
  width: 30%;
  position: absolute;
  right: 15%;
}
